extends layout.pug
block content
 if error
  h2 #{error} 
 else
  div.app
   header.header-container
     h4 Current tasks
     a.waves-effect.waves-light.btn.modal-trigger(href="#add-form") Add New Task
     div.modal(id="add-form")
      div.modal-content
       h4 Add new task
       form.col.s12(action='/api/tasks/add', method='POST')
        div.row
         div.input-field.col.s12.l7
          label(for="taskTitle")
          input.validate(type="text", id="taskTitle", name="taskTitle", placeholder="Task title", required="", aria-required="true")
         div.input-field.col.s12.l7
          label(for="taskDescription")
          input.validate(type="text", id="taskDescription", name="taskDescription", placeholder="Description", required="", aria-required="true")
         div.input-field.col.s12.l7
          label(for="taskDeadline")
          input.datepicker(type="text", id="taskDeadline", name="taskDeadline", placeholder="Deadline", required="", aria-required="true")  
          button(type="submit", class="btn waves-effect waves-light") Add this task
   div.lists
    div.list(id="ToDo") 
     span To Do
     each task in toDoTasks
      - var taskID = `${task.id}`
      div.list-item.card.blue-grey.darken-1(draggable="true", data-id=taskID)  
       div.card-content.white-text 
        span.card-title #{task.title}
        p.task-description #{task.description}
        hr 
        p.task-deadline Due to: #{moment(task.deadlineAt).format("YYYY-MM-DD")}
       div.card-action
        a(href="/api/tasks/delete/" + taskID) Delete task
    div.list(id="InProgress") 
     span In progress 
     each task in inProgressTasks
      - var taskID = `${task.id}`
      div.list-item.card.blue-grey.darken-1(draggable="true", data-id=taskID)
       div.card-content.white-text 
        span.card-title #{task.title}
        p.task-description #{task.description}
        hr 
        p.task-deadline Due to: #{moment(task.deadlineAt).format("YYYY-MM-DD")}
       div.card-action
        a(href="/api/tasks/delete/" + taskID) Delete task
    div.list(id="Done")
     span Done
     each task in doneTasks
      - var taskID = `${task.id}`
      div.list-item.card.blue-grey.darken-1(draggable="true", data-id=taskID)
       div.card-content.white-text 
        span.card-title #{task.title}
        p.task-description #{task.description}
        hr 
        p.task-deadline Due to: #{moment(task.deadlineAt).format("YYYY-MM-DD")}
       div.card-action
        a(href="/api/tasks/delete/" + taskID) Delete task
